
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
body{
  font-family: 'Bagel Fat One', cursive; 
  /* 폰트 패밀리 - 글씨체 설정 */
}

/* 한 줄이 넘으면 .... */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
  }